@media (max-width: 768px) {
    .top-row {
      --top-row-height: 150px;
    }
  }

  body {
    --top-row-height: 110px;

    margin: 1em;
    margin-top: var(--top-row-height);
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: smaller;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align: center;
}
  
.top-row{
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-row-height);
    display: flex;
    background-color: gainsboro;
}

.logo {
    height: auto;
    display: block;
    box-sizing: border-box;
    padding: 8px;
}

.nav-btn{
    width: var(--top-row-height);
    height: 100%;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

/* styling google material icons */
.nav-btn > span {
    color: #ffffff;
    font-size: calc(var(--top-row-height)/2);
}

.nav {
   --nav-width: 300px;
   z-index: 10;
   position: fixed;
   top: 0;
   left: 0;
   width: var(--nav-width);
   height: 100vh;
   background: gray;
   transform: translateX(calc(-1 * var(--nav-width)));
   transition: transform 0.25s;
}

.nav-open {
    transform: translateX(0);
}

.nav-link {
    display:block;
    font-family: sans-serif;
    font-size: 25px;
    padding: 24px;
    text-decoration: none;
    color:#ffffff;
}

.nav-link:not(:last-child){
    border-bottom: 1px solid #222222;
}

.nav-link:hover {
    background: rgba(255,255,255,0.05);
}

.nav-overlay {
    z-index: 9;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.2);
}

.nav-overlay-open {
    display: block;
}

.form_image, .color_image {
    height: 160px;
    width: 160px;
}

.nav-link img {
    width: auto;
    height: 100%;
    max-width:120px;
    max-height:100%;
  }

.selected_color {
    border: 5px solid #5c5cff;
    border-radius: 10px;
  }

.selected_form  {
    border: 5px solid #5c5cff;
    border-radius: 10px;
  }

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.gallery_image{
    max-width: 100%;
    margin-bottom: 0.5em;
    display:block;
}

figure .gallery_image {
    max-width: 100%;
    margin-bottom: 0.5em;
    display:block;
}

.gallery{
    columns: 5 320px;
    column-gap: 0.5em;
}

figure {
    position: relative;
}

figcaption {
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
}

.subsite_content {
    margin-top: calc(var(--top-row-height)/2); /* adjust to the height of the top-row div */
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }